---
column_bg: "{{base}}"
weird_colour_that_doesnt_even_show_up_but_slack_inserts_it_anyways: "F8F8FA"
active_item: "{{mauve}}"
active_item_text: "{{base}}"
hover_item: "{{crust}}"
text_color: "{{text}}"
active_presence: "{{mauve}}"
mention_badge: "{{maroon}}"
top_nav_bg: "{{base}}"
top_nav_text: "{{text}}"
---
#{{uppercase column_bg}},#{{weird_colour_that_doesnt_even_show_up_but_slack_inserts_it_anyways}},#{{uppercase active_item}},#{{uppercase active_item_text}},#{{uppercase hover_item}},#{{uppercase text_color}},#{{uppercase active_presence}},#{{uppercase mention_badge}},#{{uppercase top_nav_bg}},#{{uppercase top_nav_text}}
